body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.class1 {
    background-color: #57e0da;
}

.class11 {
    background-color: #57e0da;
    margin-left: 20px;
}

.class2 {
    background-color: #6bdb7a;
}

.class22 {
    background-color: #6bdb7a;
    margin-left: 20px;
}


.bold {
    font-weight: bold;
}

#aside {
    margin-top: 20px;
}

p{
    margin: 0;
}